.link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.image {
  height: 250px;
  object-fit: cover;
}
  
.productPrice {
  font-weight: 600;
  color: black;
}
  

.card {
  flex: 0 0 auto;
  width: 200px; 
  height: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 160px;
  }
}
