.cover_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 250px;
  min-width: min-content;
  padding-top: 2rem;
  
  margin-top: 30px;
  overflow: hidden;
  background-color: black !important;
  
}

.title_wrapper {
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .cover_wrapper {
    flex-direction: column;
    margin-top: 0;
  }
  
}