.cover_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  padding: 14px;
  margin-top: 10px;
  background-color: black !important;
  overflow: hidden;
  
}


@media (max-width: 768px) {
  .cover_wrapper {
    flex-direction: column;
    margin-top: 0;
  }
  
}