.gallery {
  width: 100%;
}

.desktopGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1px;
}


.mobileGallery {
  display: none;
}

.imageCard {
  width: 100%;
}


@media (max-width: 991px) {
  .desktopGallery {
    display: none;
  }

  .mobileGallery {
    display: block;
  }
}

