.filters {
    width: 50%;
    color: black !important;
}

.select {
    width: 100%;
    border-radius: 1px !important;
    border: none !important;
}

@media (max-width: 768px){
    .filters {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .select {
        width: 100%;
        outline: none !important;
    }
}



:global(.ant-select-single.ant-select-show-arrow .ant-select-selection-search){
    color: #6B201D
}
/* :where(.css-dev-only-do-not-override-1fywmgj).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-1fywmgj).ant-select-single.ant-select-show-arrow .ant-select-selection-search, :where(.css-dev-only-do-not-override-1fywmgj).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder */

