.filters {
    width: 50%;
    color: black !important;
}

.select {
    width: 100%;
    border-radius: 1px !important;
    border: none !important;
    color: black !important;
}

@media (max-width: 768px){
    .filters {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .select {
        width: 100%;
        outline: none !important;
    }
}