.cover_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
}

.cover_image{
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}