.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}


.card :global(.ant-card-body) {
  padding: 12px;
  height: min-content;
}

.coverWrapper {
  position: relative;
  aspect-ratio: 4 / 5;
  overflow: hidden;
}


.image {
  position: absolute;
  inset: 0;              
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 
    opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}


.primaryImage {
  opacity: 1;
  z-index: 1;
}

.hoverImage {
  opacity: 0;
  z-index: 2;
}

.card:hover .primaryImage {
  opacity: 1;
  transform: scale(1.05);
}

.card:hover .hoverImage {
  opacity: 1;
  transform: scale(1.05);
}


.favoriteBtn {
  position: absolute;
  top: 12px;
  right: 4px;
  z-index: 2;
  font-size: 24px;
  color: white;
  
  &:hover {
    color: #6B201D !important;
  }
}


.productPrice {
  font-weight: 600;
  color: black;
}

.productInfo {
  display: flex;
  gap: 5px;
}



