.card {
  margin-bottom: 16px;
  width:100% ;
  height: 100%;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.coverWrapper {
  position: relative;
}

.favoriteBtn {
  position: absolute;
  top: 12px;
  right: 4px;
  z-index: 2;
  font-size: 24px;
  color: white;
  
  &:hover {
    color: #6B201D;
  }
}


.productPrice {
  font-weight: 600;
  color: black;
}

.productInfo {
  display: flex;
  gap: 5px;
}



