.container {
   background-color: #fcf8f8;
   width: 100%;
}

.filters_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

@media (max-width: 768px) {
    .filters_wrapper {
        display: none;
    }
  } 