.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100px;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.actionsWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
}


.searchIcon {
  font-size: 20px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .header {
    height: 60px;
    justify-content: space-between;
    padding: 1rem 0;
  }
}
