.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

}


.logoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.logo {
  height: 100px;
  width: auto;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}


.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
}

.menu {
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
 
}
.menuIcon{
  display: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}



.cartIcon ,
.searchIcon {
  font-size: 24px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .header {
    height: 60px;
    justify-content: space-between;
  }
  .logo {
    height: 60px;
  }
  .menu{
    display: none;
  }
  .menuIcon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .actions {
    gap: 8px;
  }
}
