.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh ;
    margin-top: 5rem;
    padding: 5rem 0;

  }