.footer {
    background: #0a0a0a !important;
    color: white !important;

}

.row {
    margin:0 !important;
}

.col {
    /* padding: 0 0 24px 0 !important; */
    text-align: center;
}

.note {
    color: "white" !important;
}
@media (max-width: 768px){
    .contacts-wrapper {
        flex-direction: column;
    }
}