.footer {
    background: #0a0a0a !important;
    color: white !important;
}

.row {
    margin-bottom: 24px;
    margin-left: 0; 
    margin-right: 0;
}

.col {
    margin-left: 1rem;
    text-align: center;
}

.note {
    color: "white" !important;
}
@media (max-width: 768px){
    .contacts-wrapper {
        flex-direction: column;
    }
}